<%= form_for(@customer) do |f| %>
    <p>Your name: <%= f.text_field :name %><br></p>
    <p>Your e-mail: <%= f.email_field :email %><br></p>
    <p>Password: <%= f.password_field :password_digest %></p>
    <%= f.submit "Sign up" %>
<% end %>